SERVER_NAME='MeuServidor'
WORLD_NAME='MeuMundo'
SERVER_PASS=''
SERVER_PUBLIC='true'
SERVER_ARGS=''
BACKUPS='true'
BACKUPS_CRON='0 * * * *'
BACKUPS_MAX_AGE='30'
BACKUPS_MAX_COUNT='0'
BACKUPS_IF_IDLE='true'
HOST_PROJECT_DIR=/caminho/para/valheim-panel
DOCKER_GID=999
PANEL_PORT=8080
